.whg-loader {
    display: flex;

    &.-home {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        flex-direction: column;
        background-color: var(--main-invert);

        .whg-loader__nav {
            display: block;
            height: 3em;
            margin-bottom: 2em;
            width: 100%;
            background-color: var(--grey);
            animation: pulse 1s infinite ease-in-out;
        }

    }

    &.-game {
        flex-direction: column;
    }

    .whg-loader__content {
        display: grid;
        row-gap: 1em;
        column-gap: .5em;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr) );
        margin-left: 1em;
        margin-right: 1em;

        div {
            height: 260px;
            height: 150px;
            background-color: var(--grey);
            animation: pulse 1s infinite ease-in-out;
        }
    }
}

@keyframes pulse {
    0% {
        opacity: .7;
    }
    50% {
        opacity: .8;
    }
    100% {
        opacity: .9;
    }
}

@media screen and (min-width: 575px) {

    .whg-loader .whg-loader__content {
        grid-template-columns: repeat(auto-fit, minmax($game-width, 1fr) );
    }
}

@media screen and (min-width: 768px) {

    .whg-loader .whg-loader__content {
        margin-left: 5em;
        margin-right: 5em;
    }
}
