.whg-loader {
    display: flex;
    flex-direction: column;
    background-color: var(--main-invert);

    &.-game {
        flex-direction: column;
    }

    &__nav {
        display: block;
        height: $nav-height;
        margin-bottom: $nav-margin-bottom;
        width: 100%;
        background-color: var(--grey);
        animation: pulse 1s infinite ease-in-out;
    }

    &__content {
        @extend %games-grid;

        div {
            width: $game-width;
            height: $game-height;
            border-radius: $game-border-radius;
            background-color: var(--grey);
            animation: pulse 1s infinite ease-in-out;
        }
    }
}

@keyframes pulse {
    0% {
        opacity: .7;
    }
    50% {
        opacity: .8;
    }
    100% {
        opacity: .9;
    }
}

@media screen and (min-width: 575px) {

    .whg-loader .whg-loader__content {
        grid-template-columns: repeat(auto-fit, minmax($game-width, 1fr) );
    }
}

@media screen and (min-width: 768px) {

    .whg-loader .whg-loader__content {
        margin-left: $games-grid-large-margin;
        margin-right: $games-grid-large-margin;
    }
}
