<div [ngClass]="loaderClassList">
    <ng-container *ngTemplateOutlet="loaderType;"></ng-container>
</div>

<ng-template #home>
    <ng-container *ngTemplateOutlet="nav"></ng-container>
    <ng-container *ngTemplateOutlet="game"></ng-container>
</ng-template>

<ng-template #nav>
    <div class="whg-loader__nav"></div>
</ng-template>

<ng-template #game>
    <div class="whg-loader__content"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</ng-template>
