<nav *ngIf="categories && activeCategory; else loading" class="whg-nav" [ngClass]="{'-expanded': expanded}">
    <whg-icon class="whg-nav__toggle" name="bar" look="size-l" (click)="expanded = !expanded"></whg-icon>
    <ul class="whg-nav__links">
        <li
            *ngFor="let category of categories"
            (click)="onCategoryClick(category)"
            class="whg-nav__link"
            [ngClass]="{'-active': activeCategory.id === category.id}">{{category.name}}</li>
    </ul>
</nav>

<ng-template #loading>
    Loading...
</ng-template>
