<ul class="whg-games" *ngIf="games.length > 0; else noResults">
    <li *ngFor="let game of games" class="whg-game">
        <whg-ribbon-wrapper [categories]="game.categories" [activeCategory]="activeCategory"></whg-ribbon-wrapper>
        <span class="whg-game__jackpot">{{getJackpot(game.id)}}</span>
        <span class="whg-game__play">
            <whg-icon name="play" look="size-xl"></whg-icon>
        </span>
        <span class="whg-game__title">
            <span class="-whg-ellipsis" [title]="game.name">{{game.name}}</span>
        </span>
        <img class="whg-game__image" src="{{game.image}}" alt="" onerror="this.src = '../../../assets/images/placeholder.png'">
    </li>
</ul>

<ng-template #noResults>
    <div class="-whg-center-box -whg-direction-col -whg-pl-m -whg-pr-m">
        <whg-card class="-whg-pl-m -whg-pr-m"></whg-card>
        <h2 class="-whg-text-center ">No games found for category "{{activeCategory.name}}"</h2>
    </div>
</ng-template>
